#Plane-image {
  height: 40%;
  width: 40%;
  transform: rotate(90deg) translateX(-20%) translateY(50%);
  margin: 0 0 0 0;
}

#Plane-image-imgur {
  height: 50%;
  width: 50%;
  margin: 0 0 0 0;
  transform: translateX(-50%) translateY(10%);
}


