#Plane-image {
  height: 65%;
  width: 65%;
  transform: rotate(90deg) translateX(-5%) translateY(20%);
  margin: 0 0 0 0;
}

#Plane-image-imgur {
  height: 80%;
  width: 80%;
  margin: 0 0 0 0;
  transform: translateX(-15%) translateY(20%);
}

.rotation-correction {
  transform: translateY(-100px);
}

.minimized {
  height: 35%;
  width: 35%;
}
